<div class="card">
    <h2>Reproductor de musica</h2>

    <div *ngIf="currentTrack, else emptyState" class="player-info">
        <h3>{{ currentTrack.value.titulo }}</h3>
        <p>Artista: {{ currentTrack.value.artista }}</p>
        <p>Duración: {{ currentTrack.value.duracion }}</p>

        <div class="controls">
            <button
            (click)="nextTrack()"
            [disabled]="!currentTrack.next"
            >Siguiente cancion</button>

            <button
            *ngIf="currentTrack.next"
            (click)="reiniciarLista()">
                Reiniciar lista
            </button>
        </div>
    </div>
    <ng-template #emptyState>
        <p>No hay canciones en la lista.</p>
    </ng-template>
</div>